@import "tailwindcss";

:root {
  --background: #d3f8f8;
  --foreground: #05313e;
  --color-primary-darkest: #05313e;
  --color-primary-dark: #085262;
  --color-primary: #177181;
  --color-primary-light: #1da3bb;
  --color-primary-lightest: #d3f8f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #05313e;
    --foreground: #d3f8f8;
  }
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist', Arial, Helvetica, sans-serif;
}
